<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#mainContent" id="skipToContent">Skip To Content</a>
  <header id="header">
    <nav>
      <button id="openNav">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="navMenu">
        <button id="closeNav">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <ul>
          <li>
            <a href="index.html"> HOME </a>
          </li>
          <li>
            <a href="#/like"> FAVOURITE </a>
          </li>
          <li>
            <a href="https://www.instagram.com/__arimaulana/?hl=id"> ABOUT ME </a>
          </li>
        </ul>
      </div>
      <a id="logo" href="#/">
        <h1>
          House Of Food
        </h1>
      </a>
      <div class="navMenuLarge">
        <ul>
          <li>
            <a class="active" href="#/"> HOME </a>
          </li>
          <li>
            <a class="fav" href="#/like"> FAVORITE </a>
          </li>
          <li class="about">
            <a class="about" href="https://www.instagram.com/__arimaulana/?hl=id"> ABOUT ME </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<!-- <div class="loading"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div> -->
  <main id="mainContent">
  </main>
  <footer id="footer">
    <p>Copyright © 2022 - House Of Food</p>
  </footer>
</body>
</html>
