<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#mainContent" id="skipToContent">Skip To Content</a>
  <header>
    <nav>
      <button id="openNav">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="navMenu">
        <button id="closeNav">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <ul>
          <li>
            <a href="index.html"> HOME </a>
          </li>
          <li>
            <a href="#"> FAVOURITE </a>
          </li>
          <li>
            <a href="https://www.instagram.com/__arimaulana/?hl=id"> ABOUT ME </a>
          </li>
        </ul>
      </div>
      <a id="logo" href="index.html">
        <h1>
          House Of Food
        </h1>
      </a>
      <div class="navMenuLarge">
        <ul>
          <li>
            <a class="active" href="index.html"> HOME </a>
          </li>
          <li>
            <a class="fav" href="#"> FAVORITE </a>
          </li>
          <li class="about">
            <a class="about" href="https://www.instagram.com/__arimaulana/?hl=id"> ABOUT ME </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="hero">
    <h2>
      A Place For All The Food Hunters
    </h2>
    <img src="./images/heros/hero-image_2.jpg" alt="banner">
  </div>
  <main id="mainContent">
    <section class="listRestaurant">
      <h2>
        Top List Restaurant
      </h2>
      <div class="itemWrapper"></div>
    </section>
    <div class="popupMenuWrapper">
      <div class="popupMenu">
        <div class="headerText">
          <h3>MENU PRICELIST</h3>
        </div>
        <div class="menuItemWrapper"></div>
        <button id="closePopup" class="closePopup">CLOSE</button>
      </div>
    </div>
  </main>
  <footer>
    <p>Copyright © 2022 - House Of Food</p>
  </footer>
</body>
</html>
