@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a#skipToContent {
  position: absolute;
  top: -100px;
  font-weight: 500;
  left: 20px;
  text-decoration: none;
  color: white;
  background: #45B3FC;
  z-index: 99;
  padding: 20px;
}
a#skipToContent:focus {
  top: 20px;
}

button {
  cursor: pointer;
}

button.favButton {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 3px solid #A605AD;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99;
}
button.favButton i {
  font-size: 30px;
  color: #FFA825;
}
button.favButton.favorited {
  background: #A605AD;
}

header nav {
  width: 100%;
  height: 80px;
  box-shadow: 0px 9px 4px -4px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 9px 4px -4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  z-index: 98;
}
header nav button {
  position: absolute;
  left: 8px;
  background: white;
  border: 0px;
  width: 44px;
  height: 44px;
}
header nav button i {
  font-size: 30px;
  color: #A605AD;
}
header nav a {
  color: #A605AD;
  text-decoration: none;
}
header nav .navMenuLarge {
  display: none;
}
header nav .navMenu {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: -200px;
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  padding-bottom: 10px;
  background: #A605AD;
  transition: all 0.3s ease-in-out;
}
header nav .navMenu button {
  position: absolute;
  top: 19px;
  left: 8px;
  background: none;
  border: 0;
}
header nav .navMenu button i {
  font-size: 40px;
  color: white;
}
header nav .navMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}
header nav .navMenu ul li {
  height: 44px;
}
header nav .navMenu ul li a {
  min-height: 44px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header nav .navMenu.open {
  top: 0;
}

.hero {
  text-align: center;
  padding-top: 100px;
}
.hero h2 {
  color: black;
  margin-bottom: 30px;
  padding: 0px 15px 0px 15px;
}
.hero img {
  width: 100%;
}

main .listRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding-bottom: 10px;
  color: black;
  margin-top: -30px;
  padding-top: 30px;
}
main .listRestaurant .itemWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .listRestaurant .itemWrapper .item {
  width: 70%;
  height: auto;
  background: white;
  border-radius: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px 20px 60px 20px;
  margin-bottom: 40px;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
}
main .listRestaurant .itemWrapper .item:hover {
  box-shadow: 2px 3px 5px 0px #A605AD;
  -webkit-box-shadow: 2px 3px 5px 0px #A605AD;
  -moz-box-shadow: 2px 3px 5px 0px #A605AD;
}
main .listRestaurant .itemWrapper .item .pictureRating {
  position: relative;
  display: flex;
  justify-content: center;
}
main .listRestaurant .itemWrapper .item .pictureRating img {
  width: 100%;
  aspect-ratio: 1/0.7;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
main .listRestaurant .itemWrapper .item .pictureRating .rating {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 25px;
  background: #FFA825;
  border-radius: 20px 20px 0 0;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
main .listRestaurant .itemWrapper .item h4 {
  margin-top: 10px;
  margin-bottom: 6px;
}
main .listRestaurant .itemWrapper .item p {
  margin: 0;
  font-size: 11px;
}
main .listRestaurant .itemWrapper .item p.description {
  font-size: 13px;
  margin-top: 12px;
  line-height: 17px;
  margin-bottom: 50px;
}
main .listRestaurant .itemWrapper .item a {
  width: 100%;
  height: 44px;
  font-weight: bold;
  border: 0;
  border-radius: 0px 0px 20px 20px;
  background: #A605AD;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
main .popupMenuWrapper {
  width: 100%;
  height: 100vh;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.575);
  display: none;
  justify-content: center;
  align-items: center;
}
main .popupMenuWrapper .popupMenu {
  width: 80%;
  height: 80vh;
  border-radius: 20px;
  background: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.49);
}
main .popupMenuWrapper .popupMenu .headerText {
  position: absolute;
  top: 0;
  width: 100%;
  background: #45B3FC;
  border-radius: 20px 20px 0 0;
}
main .popupMenuWrapper .popupMenu .headerText h3 {
  text-align: center;
  color: white;
}
main .popupMenuWrapper .popupMenu .menuItemWrapper {
  width: 100%;
  padding: 80px 20px 20px 20px;
}
main .popupMenuWrapper .popupMenu .menuItemWrapper h4 {
  color: #0E3043;
  margin: 0 0 20px 0;
  text-align: center;
}
main .popupMenuWrapper .popupMenu .menuItemWrapper .menuItem {
  border-radius: 8px;
  padding: 8px 15px 8px 15px;
  background: #E8F7FF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
main .popupMenuWrapper .popupMenu .menuItemWrapper .menuItem span {
  font-size: 12px;
  font-weight: 500;
  color: #0E3043;
}
main .popupMenuWrapper .popupMenu button {
  background: #FF1D4B;
  border: 0;
  position: absolute;
  bottom: 10px;
  width: 85%;
  height: 44px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
}
main .popupMenuWrapper.open {
  display: flex;
}

.restaurantDetail {
  padding: 110px 19px 30px 19px;
  height: auto;
}
.restaurantDetail .pictureRating {
  position: relative;
  display: flex;
  justify-content: center;
}
.restaurantDetail .pictureRating img {
  width: 100%;
  aspect-ratio: 1/0.7;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.restaurantDetail .pictureRating .rating {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 140px;
  height: 30px;
  background: #FFA825;
  border-radius: 20px 20px 0 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.restaurantDetail .restaurantInfo h1.restaurantName {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 8px;
}
.restaurantDetail .restaurantInfo p, .restaurantDetail .restaurantInfo span {
  color: #B2B2B2;
  font-size: 12px;
}
.restaurantDetail .restaurantInfo p.restaurantAddress {
  margin: 0;
  padding: 0;
}
.restaurantDetail .restaurantInfo .categories {
  margin-top: 15px;
}
.restaurantDetail .restaurantInfo .categories span {
  border: 0.4px solid #B2B2B2;
  padding: 5px 12px;
  border-radius: 20px;
}
.restaurantDetail .restaurantContentWrapper {
  margin-top: 15px;
  min-height: 500px;
}
.restaurantDetail .restaurantContentWrapper .contentNavigation {
  display: flex;
  justify-content: space-around;
}
.restaurantDetail .restaurantContentWrapper .contentNavigation button {
  background: none;
  border: 0;
  height: 44px;
  min-width: 44px;
  font-size: 12px;
  color: #B2B2B2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
}
.restaurantDetail .restaurantContentWrapper .contentNavigation button.active {
  font-weight: 600;
  color: #A605AD;
}
.restaurantDetail .restaurantContentWrapper .contentNavigation button.active:after {
  content: "";
  width: 58px;
  height: 2px;
  background: #A605AD;
  position: absolute;
  bottom: -1px;
}
.restaurantDetail .restaurantContentWrapper .contentNavigation button:after {
  content: "";
  width: 58px;
  height: 2px;
  background: #B2B2B2;
  position: absolute;
  bottom: -1px;
}
.restaurantDetail .restaurantContentWrapper .restaurantContent {
  display: none;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu {
  display: block;
  margin-top: 20px;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus {
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  margin-bottom: 20px;
  border: 0.5px solid black;
  border-radius: 20px;
  padding: 24px;
  overflow: hidden;
  height: 40px;
  transition: all 0.1s ease-in-out;
  position: relative;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus:hover {
  box-shadow: 2px 3px 5px 0px #A605AD;
  -webkit-box-shadow: 2px 3px 5px 0px #A605AD;
  -moz-box-shadow: 2px 3px 5px 0px #A605AD;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus button {
  background: none;
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus i {
  color: #A605AD;
  position: absolute;
  right: 0;
  font-size: 20px;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus i.hidden {
  display: none;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus .menuBtn {
  display: flex;
  align-items: center;
  position: relative;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus .itemMenu {
  margin-top: 20px;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus ul {
  margin: 0;
  padding: 20px;
  padding-top: 0px;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus ul li {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.restaurantDetail .restaurantContentWrapper .restaurantMenu .menus.active {
  border: 0.5px solid #A605AD;
}
.restaurantDetail .restaurantContentWrapper .restaurantDescription p {
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  margin-top: 20px;
  padding: 21px;
  border-radius: 20px;
  border: 0.5px solid black;
  font-size: 12px;
}
.restaurantDetail .restaurantContentWrapper .restaurantDescription p:hover {
  box-shadow: 2px 3px 5px 0px #A605AD;
  -webkit-box-shadow: 2px 3px 5px 0px #A605AD;
  -moz-box-shadow: 2px 3px 5px 0px #A605AD;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews {
  margin-top: 20px;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .reviewItem {
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  padding: 24px;
  border: 0.5px solid black;
  border-radius: 20px;
  position: relative;
  min-height: 155px;
  margin-bottom: 20px;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .reviewItem:hover {
  box-shadow: 2px 3px 5px 0px #A605AD;
  -webkit-box-shadow: 2px 3px 5px 0px #A605AD;
  -moz-box-shadow: 2px 3px 5px 0px #A605AD;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .reviewItem h2 {
  margin: 0;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .reviewItem p.reviewDate {
  font-size: 12px;
  color: #B2B2B2;
  position: absolute;
  right: 12px;
  bottom: 0;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview {
  margin-top: 45px;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview label {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview input {
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  border: 0.5px solid #B2B2B2;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview input:hover {
  box-shadow: 2px 3px 5px 0px #A605AD;
  -webkit-box-shadow: 2px 3px 5px 0px #A605AD;
  -moz-box-shadow: 2px 3px 5px 0px #A605AD;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview input:focus {
  border: 2px solid #A605AD;
  outline: #A605AD;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview textarea {
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.49);
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview textarea:hover {
  box-shadow: 2px 3px 5px 0px #A605AD;
  -webkit-box-shadow: 2px 3px 5px 0px #A605AD;
  -moz-box-shadow: 2px 3px 5px 0px #A605AD;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview textarea:focus {
  border: 2px solid #A605AD;
  outline: #A605AD;
}
.restaurantDetail .restaurantContentWrapper .restaurantReviews .writeReview button {
  border: 0px;
  height: 44px;
  width: 100px;
  border-radius: 20px;
  background: #A605AD;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  background: #FFA825;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer p {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

@media screen and (min-width: 500px) {
  .popupMenuWrapper .popupMenu {
    max-width: 400px;
  }
}
@media screen and (min-width: 600px) {
  #openNav {
    display: none;
    visibility: hidden;
  }
  .navMenu {
    visibility: hidden;
  }
  header nav {
    justify-content: start;
  }
  header nav a#logo {
    margin-left: 20px;
  }
  header nav .navMenuLarge {
    display: block;
    position: absolute;
    right: 0;
  }
  header nav .navMenuLarge ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 45px;
  }
  header nav .navMenuLarge ul li {
    margin-left: 10px;
    min-height: 45px;
  }
  header nav .navMenuLarge ul li a {
    color: #A605AD;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 18px 0px 18px;
    border-radius: 25px;
    height: 46px;
    display: flex;
    align-items: center;
  }
  header nav .navMenuLarge ul li a:hover {
    background: #A605AD;
    color: white;
  }
  header nav .navMenuLarge ul li a.active {
    background: #A605AD;
    color: #FFA825;
    font-weight: 600;
  }
  header nav .navMenuLarge ul li.about {
    margin-right: 10px;
  }
}
@media screen and (min-width: 700px) {
  main .listRestaurant .itemWrapper .item {
    width: 38%;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .hero img {
    min-width: 1000px;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 1/0.3;
  }
  main .listRestaurant .itemWrapper {
    max-width: 1000px;
  }
  main .listRestaurant .itemWrapper .item {
    width: 27%;
  }
}/*# sourceMappingURL=main.css.map */