@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');
$primaryColor: #45B3FC;
$bgColor: #ceeafa;
$secondaryColor: #0E3043;

$clickableComponentColor: #A605AD;
$yellowColor: #FFA825;
$fontColorPrimary: black;
$fontColorSecondary: #B2B2B2;

@mixin shadowComponent {
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.49);
-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.49);
  &:hover {
    box-shadow: 2px 3px 5px 0px $clickableComponentColor;
-webkit-box-shadow: 2px 3px 5px 0px $clickableComponentColor;
-moz-box-shadow: 2px 3px 5px 0px $clickableComponentColor;
  }
}

body{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

a#skipToContent {
  position: absolute;
  top:-100px;
  font-weight: 500;
  left: 20px;
  text-decoration: none;
  color:white;
  background: $primaryColor;
  z-index: 99;
  padding: 20px;
  &:focus {
    top:20px;
  }
}

button {
  cursor: pointer;
}

.likeBtnWrapper {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

button.likeBtn {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $clickableComponentColor;
  z-index: 99;
  i {
    font-size: 30px;
    color: $yellowColor;
  }

  &.favorited {
    background: $clickableComponentColor;
  }

  &.favorite {
    background:white ;
  }
}

//==== HEADER ====//
header {
  nav {
    width:100%;
    height:80px;
    box-shadow: 0px 9px 4px -4px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 9px 4px -4px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: white;
    z-index:98;
    button {
      position: absolute;
      left:8px;
      background: white;
      border:0px;
      width:44px;
      height: 44px;
      i {
        font-size: 30px;
        color: $clickableComponentColor;
      }
    }
    
    a {
      color:$clickableComponentColor;
      text-decoration: none;  
    }

    .navMenuLarge {
      display: none;
    }

    .navMenu {
      width:100%;
      height: auto;
      position: absolute;
      left:0;
      top:-200px;
      display: flex;
      justify-content: center;
      border-radius: 0 0 20px 20px;
      padding-bottom: 10px;
      background: $clickableComponentColor;
      transition: all 0.3s ease-in-out;
      button {
        position: absolute;
        top: 19px;
        left: 8px;
        background: none;
        border: 0;
        i {
          font-size:40px;
          color: white; 
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 18px;
        li {
          height: 44px;
          a {
            min-height: 44px;
            color: white;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .navMenu.open {
      top: 0;
    }
  }
}

//==== HERO ===//
.hero {
  text-align: center;
  padding-top: 100px;
  h2 {
    color: $fontColorPrimary;
    margin-bottom: 30px;
    padding: 0px 15px 0px 15px;
  }
  img {
    width:100%;
  }
}


//==== MAIN ====//
main {
  // List Restaurant
  .listRestaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding-bottom:10px;
    color: $fontColorPrimary;
    margin-top: -30px;
    padding-top: 30px;
    .itemWrapper {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
      .item {
        width:70%;
        height:auto;
        background: white;
        border-radius: 20px;
        display: flex;
        position: relative;
        flex-direction: column;
        padding:20px 20px 60px 20px;
        margin-bottom: 40px;
        @include shadowComponent();
  
        .pictureRating {
          position: relative;
          display: flex;
          justify-content: center;
          img {
            width: 100%;
            aspect-ratio: 1/0.7;
            object-fit: cover;
            border-radius: 20px;
          }
          
          .rating {
            text-align: center;
            color:white;
            position: absolute;
            bottom:0;
            width:120px;
            height:25px;
            background: $yellowColor;
            border-radius: 20px 20px 0 0;
            font-size: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
          }
        }
        
        h4 {
          margin-top: 10px;
          margin-bottom: 6px;
        }
        p {
          margin: 0;
          font-size: 11px;
        }
        p.description {
          font-size:13px;
          margin-top: 12px;
          line-height: 17px;
          margin-bottom: 50px;
        }
        a {
          width:100%;
          height: 44px;
          font-weight: bold;
          border: 0;
          border-radius: 0px 0px 20px 20px;
          background: $clickableComponentColor;
          color:white;
          font-size: 14px;
          letter-spacing: 2px;
          position: absolute;
          bottom:0;
          left:0;
          text-decoration: none;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  

  //Popup
  .popupMenuWrapper {
    width: 100%;
    height: 100vh;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.575);
    display: none;
    justify-content: center;
    align-items: center;
    .popupMenu {
      width:80%;
      height:80vh;
      border-radius: 20px;
      background: white;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
      -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
      .headerText {
        position: absolute;
        top:0;
        width:100%;
        background: $primaryColor;
        border-radius: 20px 20px 0 0;
        h3 {
          text-align: center;
          color:white;
        }
      }

      .menuItemWrapper {
        h4 {
          color:$secondaryColor;
          margin:0 0 20px 0;
          text-align: center;
        }
        width:100%;
        padding: 80px 20px 20px 20px;
        .menuItem {
          border-radius: 8px;
          padding: 8px 15px 8px 15px;
          background: #E8F7FF;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          span {
            font-size: 12px;
            font-weight: 500;
            color: $secondaryColor;
          }
        }
      }
      
      button {
        background: #FF1D4B;
        border:0;
        position: absolute;
        bottom: 10px;
        width:85%;
        height: 44px;
        color:white;
        font-weight: bold;
        font-size: 14px;
        border-radius: 20px;
      }
    }
  }

  .popupMenuWrapper.open {
    display: flex;
  }

}

//=====================//
//==== DETAIL PAGE ====//
//====================//

.restaurantDetail {
    padding: 110px 19px 30px 19px;
    height:auto;
    .pictureRating {
        position: relative;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          aspect-ratio: 1/0.7;
          object-fit: cover;
          border-radius: 20px;
        }
        
        .rating {
          text-align: center;
          color:white;
          position: absolute;
          bottom:0;
          width:140px;
          height:30px;
          background: $yellowColor;
          border-radius: 20px 20px 0 0;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
    }
    .restaurantInfo {
        h1.restaurantName {
            font-size: 30px;
            margin-top: 15px;
            margin-bottom: 8px;
        }
        p, span {
            color: $fontColorSecondary;
            font-size: 12px;
        }
        p.restaurantAddress {
            margin: 0;
            padding: 0;
        }
        .categories {
            margin-top: 15px;
            span {
                border: 0.4px solid $fontColorSecondary;
                padding: 5px 12px;
                border-radius: 20px;
            }
        }
    }
    .restaurantContentWrapper {
        margin-top: 15px;
        min-height: 500px;
        .contentNavigation {    
            display: flex;
            justify-content: space-around;
            button {
                background: none;
                border: 0;
                height:44px;
                min-width:44px;
                font-size: 12px;
                color: $fontColorSecondary;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                // border-bottom:2px solid $fontColorSecondary;
                position: relative;
                &.active {
                    font-weight: 600;
                    color: $clickableComponentColor;
                    // border-bottom:2px solid $clickableComponentColor;
                    &:after {
                        content:'';
                        width:58px;
                        height: 2px;
                        background: $clickableComponentColor;
                        position: absolute;
                        bottom:-1px;
                    }
                }
                &:after {
                    content:'';
                    width:58px;
                    height: 2px;
                    background: $fontColorSecondary;
                    position: absolute;
                    bottom:-1px;
                }
            }
        }
        .restaurantContent {
            display: none;
        }
        .restaurantMenu {
            display: block;
            margin-top: 20px;
            .menus {
                @include shadowComponent();
                margin-bottom: 20px;
                border: 0.5px solid black;
                border-radius: 20px;
                padding: 24px;
                overflow: hidden;
                height:40px ;
                transition:all  0.1s ease-in-out;
                position: relative;
                button {
                    background: none;
                    border: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    height:40px;
                    position: relative;
                    font-size: 20px;
                    font-weight: bold;
                }
                i {
                    color: $clickableComponentColor;
                    position: absolute;
                    right: 0;
                    font-size: 20px;
                    &.hidden {
                        display: none;
                    }
                }
                .menuBtn {
                    display: flex;
                    align-items: center;
                    position: relative;
                }
                .itemMenu {
                    margin-top: 20px;
                }
                ul {
                    margin: 0;
                    padding: 20px;
                    padding-top: 0px;
                    li {
                        // list-style: none;
                        margin: 0;
                        padding: 0;
                        margin-top: 5px;
                    }
                }
                &.active {
                    border: 0.5px solid $clickableComponentColor;
                }
            }
        }
        .restaurantDescription {
          p {
            @include shadowComponent();
            margin-top: 20px;
            padding: 21px;
            border-radius: 20px;
            border: 0.5px solid black;
            font-size: 12px;
          }
        }
        .restaurantReviews {
            margin-top: 20px;
            .reviewItem {
                @include shadowComponent();
                padding: 24px;
                border: 0.5px solid black;
                border-radius: 20px;
                position: relative;
                min-height: 155px;
                margin-bottom: 20px;
                h2{
                    margin:0;
                }
                p.reviewDate {
                    font-size: 12px;
                    color: $fontColorSecondary;
                    position: absolute;
                    right: 12px;
                    bottom: 0;
                }
            }
            .writeReview {
                margin-top: 45px;
                label {
                    font-size: 12px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 6px
                }
                input {
                    @include shadowComponent();
                    margin-bottom: 15px;
                    box-sizing: border-box;
                    width:100%;
                    height:35px;
                    border-radius: 20px;
                    padding:0px 20px 0px 20px;
                    border: 0.5px solid $fontColorSecondary;
                    &:focus {
                        border: 2px solid $clickableComponentColor;
                        outline: $clickableComponentColor;
                    }
                }
                textarea {
                    @include shadowComponent();
                    box-sizing: border-box;
                    width: 100%;
                    padding: 10px;
                    border-radius: 20px;
                    &:focus {
                        border: 2px solid $clickableComponentColor;
                        outline: $clickableComponentColor;
                    }
                }
                button {
                    border: 0px;
                    height:44px;
                    width:100px;
                    border-radius: 20px;
                    background: $clickableComponentColor;
                    color:white;
                    font-weight: bold;
                    margin-top: 10px;
                }
            }
        }
    }
}

//==== FOOTER ===//
footer {
  background: $yellowColor;
  padding-top: 10px;
  padding-bottom: 20px;
  p {
    margin: 0;
    color:white;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }
}

//===== RESPONSIVE ====//
@media screen and (min-width: 500px) {
  .popupMenuWrapper {
    .popupMenu {
      max-width: 400px;
    }
  }
}

@media screen and (min-width: 600px) {
  #openNav {
    display: none;
    visibility: hidden;
  }

  .navMenu {
    visibility: hidden;
  }

  header {
    nav {
      justify-content: start;
      a#logo {
        margin-left: 20px;
      }
      .navMenuLarge {
        display: block;
        position: absolute;
        right: 0;
        ul {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;
          min-height: 45px;
          li {
            margin-left: 10px;
            min-height: 45px;
            a {
              color: $clickableComponentColor;
              font-weight: 500;
              font-size: 14px;
              padding:0px 18px 0px 18px;
              border-radius: 25px;
              height: 46px;
              display: flex;
              align-items: center;
              &:hover {
                background: $clickableComponentColor;
                color:white;
              }
            }

            a.active {
              background: $clickableComponentColor;
              color:$yellowColor;
              font-weight: 600;
            }
          }
          li.about {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px){
  main {
    .listRestaurant {
      .itemWrapper {
        .item {
          width: 38%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    img{
      min-width: 1000px;
      object-fit: cover;
      aspect-ratio: 1/0.3;
    }
  }

  main {
    .listRestaurant {
      .itemWrapper {
        max-width: 1000px;
        .item {
          width: 27%;
        }
      }
    }
  }
}