@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
$primaryColor: #45B3FC;
$bgColor: #E8F7FF;
$secondaryColor: #0E3043;

body{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

header {
  nav {
    width:100%;
    height:80px;
    box-shadow: 0px 9px 4px -4px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 9px 4px -4px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: white;
    button {
      position: absolute;
      left:8px;
      background: white;
      border:0px;
      i {
        font-size: 30px;
        color: $primaryColor;
      }
    }
    
    a {
      color:$primaryColor;
      text-decoration: none;  
    }

    .navMenu {
      width:100%;
      height: 155px;
      position: absolute;
      left:0;
      top:-155px;
      display: flex;
      justify-content: center;
      border-radius: 0 0 20px 20px;
      background: $primaryColor;
      transition: all 0.3s ease-in-out;
      button {
        position: absolute;
        top: 19px;
        left: 8px;
        background: none;
        border: 0;
        i {
          font-size:40px;
          color: white; 
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 25px;
        li {
          margin-bottom: 10px;
          a {
            color: white;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }

    .navMenu.open {
      top: 0;
    }
  }
}

main {
  .hero {
    text-align: center;
    padding-top: 100px;
    h2 {
      font-size: 20px;
      color: $secondaryColor;
      margin-bottom: 30px;
    }
    img {
      width:100%;
      border-radius: 20px;
    }
  }

  .listRestaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bgColor;
    padding-bottom:10px;
    color: $secondaryColor;
    .item-wrapper {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
      .item {
        width:240px;
        height:260px;
        background: white;
        border-radius: 20px;
        display: flex;
        position: relative;
        flex-direction: column;
        padding:10px;
        margin-bottom: 25px;
  
        .pictureRating {
          position: relative;
          display: flex;
          justify-content: center;
          img {
            width: 100%;
            border-radius: 20px;
          }
          .rating {
            text-align: center;
            color:white;
            position: absolute;
            bottom:0;
            width:120px;
            height:25px;
            background: #57FC45;
            border-radius: 20px 20px 0 0;
            font-size: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
          }
        }
        
        h4 {
          margin-top: 10px;
          margin-bottom: 6px;
        }
        p {
          margin: 0;
          font-size: 11px;
        }
        button {
          width:100%;
          height: 40px;
          border: 0;
          border-radius: 0px 0px 20px 20px;
          background: $primaryColor;
          color:white;
          font-size: 14px;
          position: absolute;
          bottom:0;
          left:0;
        }
      }
    }
  }

  .popupMenuWrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    .popupMenu {
      width:80%;
      height:80vh;
      border-radius: 20px;
      background: white;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
      -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
      .headerText {
        position: absolute;
        top:0;
        width:100%;
        background: $primaryColor;
        border-radius: 20px 20px 0 0;
        h3 {
          text-align: center;
          color:white;
        }
      }

      .menuItemWrapper {
        width:100%;
        // background: grey;
        padding: 80px 20px 20px 20px;
        .menuItem {
          border-radius: 8px;
          padding: 8px 15px 8px 15px;
          background: #E8F7FF;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          span {
            font-size: 12px;
            font-weight: 500;
            color: $secondaryColor;
          }
        }
      }
      
      button {
        background: #FF1D4B;
        border:0;
        position: absolute;
        bottom: 10px;
        width:85%;
        height: 40px;
        color:white;
        font-weight: bold;
        font-size: 14px;
        border-radius: 20px;
      }
    }
  }
}